Contract: Marketplace
    ✓ should correctly set marketplace admin. (130ms)
    ✓ should add a MEW store owner request. (228ms)
    ✓ should add a MEW store owner from a request. (218ms)
    ✓ should correctly identify addresses as admins. (39ms)
    ✓ should correctly identify addresses as MEW store owner. (180ms)
    ✓ should correctly identify an address as a MEW adopter. (63ms)
    ✓ should let a MEW store owner generate a MEW new store. (300ms)

Contract: Store
    1) should set the MEW store owner correctly.
    > No events were emitted
    ✓ should allow MEW store owner to add a new product. (263ms)
    ✓ should allow MEW store owner to add inventory for an existing product. (177ms)
    ✓ should allow MEW adopters purchase a product from the MEW store, and product balance updates with  correct amount. (194ms)

